body{
	background-color:#478bcc;
}
.Thebox{
	background-color: #f5f7f8;
	height: 450px;
	width: 250px;
	border-radius: 7px;
	margin-left: 900px;
	margin-bottom: 30px;
	padding: 40px 50px 50px;

}
h2{
	
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: -15px;
}
label{
	color: #46515c;
	padding-bottom:20%;
}
input{
	border-radius: 3px;
	height: 30px;
	width: 250px;
	border:none;
}
.CheckBox{
	height: 20px;
	width: 14px;
	background-color: transparent;
	border:none;
}button{
	border:none;
	height: 30px;
	width:250px;
	background-color: green;
	color: white;
	cursor: pointer;
}
.anchor{
	text-decoration-line: none;
	cursor: pointer;
	color:blue !important;
}
.SIGN{
	margin-left: 950px;
	padding-bottom: 70px;
	color: white;
}
a{
	text-decoration-line: none;
	color: white;
}