/*/*/*/*/*/*/*/*/*/*/*/*/*/* using element selector*/
h1 {
	color: pink;
}
p{
	text-align: center;
	color: darkgreen;
}
/* using id selector*/
#paragraph { 
color: darkorange; }
/* using class selector*/
.second-element{
	color: deepskyblue;
}
.box{
	color: black; font-size: 100px;
} Grouping selector
h1,p,div{
	background-color: blue;
}
#paragraph, .box {
	color: black;
	font-size: 100px;}
	div {
		height: 50vh;
		width:100%; 
		border: 3px solid black;
		margin: 100px;
		padding: 50px;
	}
	p {
		position: fixed;
	}
	div{
		margin-top: 200px;
	}
*/*/*/*/*/*/*/*/*/*/*/*/*/